{:watch-dirs ["src"]
 :output-to  "resources/public/css/out"

 :selectors
 {:types #{"*"
           "a"
           "ul"
           "li"
           "div"
           "html"
           "body"
           "span"}}
 
 :build
 {:import {:input-files ["resources/public/css/tailwind.min.css"]}
  :export {:output-file "resources/public/css/cleancss.css"}}}
