{:watch-dirs ["src"]
 :application
 {:functions :all
  :pseudos   :all
  :types     #{"*" "html" "body" "section" "div"}}

 :build
 {:import {:input-files ["resources/public/css/tailwind.min.css"]}

  :export {:output-file "resources/public/css/cleancss.css"}}}
